.nav {
  background-color: #42a5f5;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
	z-index: 1000;
}

.nav__button {
  height: 50px;
  left: 0;
  position: fixed;
  top: 0;
  width: 50px;
}


.nav__header {
  display: table;
  height: 50px;
  text-align: center;
  width: 100%;
}

.nav__header > h1 {
  color: white;
  display: table-cell;
  font-family: 'Raleway', sans-serif;
  vertical-align: middle;
}

.nav__links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 50px;
  justify-content: center;
  text-align: center;
}

.nav__links > a {
  color: white;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  margin-left: 5px;
  margin-right: 5px;
}

.nav__account {
  height: 50px;
  margin: auto;
  width: 300px;
}

.nav__share {
  height: 50px;
  margin: auto;
}

@media screen and (min-width: 720px) {
  .nav__share {
    float: left;
    width: 50%;
  }

  .nav__account {
    float: left;
    width: 50%;
  }
}


@media screen and (min-width: 1000px) {
  .nav__header {
    float: left;
    width: 20%;
  }

  .nav__links {
    float: left;
    width: 30%;
  }

  .nav__share {
    float: left;
    width: 20%;
  }

  .nav__account {
    float: left;
    width: 30%;
  }
}
    
